body {
  font-family: 'Trebuchet MS', 'Helvetica', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 720px;
  /* float: left; */
}

ul li {
  /* border: 1px solid salmon; */
  float: left;
  background: url('imagens/aba-direita2.png') no-repeat top right;
}

li a {
  display: block;
  padding: 0 2em;
  line-height: 3em;
  text-decoration: none;
  font-weight: 800;
  background: url('imagens//aba-esquerda2.png') no-repeat top left;
  color: white;
}

ul a:hover {
  color: #894a1f
}

.selecionado {
  background: url('imagens/aba-direita-atual.png') no-repeat top right;
}

