/* INICIO Limpando formatações padrão */
* {
  margin: 0;
  padding:0 ;
}
/* FIM Limpando formatações padrão */

body {
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #e6e6e6 ;
}

/* LAYOUT - INICIO */
#area-cabecalho {
  background-color: #f7b600;
  padding: 15px;
  text-align: center;
}

#area-logo, #area-menu {
  padding: 10px;
}
#area-principal {
  /* background-color: white; */
  /* width: 60%; */ /*Ideia para design fluido...  */
  width: 920px;
  /* 920px => padrao moderno para resolucao 1024 */
  margin: 0 auto; 
  padding: 15px;
  /* 0 para margin top e bottom, auto para left e right. Isso produz centralização horizontal! */
}
#area-postagens {
  width: 660px;
  float: left;
}
#area-lateral {
  width: 240px;
  float: right;
}
.postagem {
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}
.conteudo-lateral {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.postagem-lateral {
  font-size: 0.8em;
  padding: 5px;
  border-bottom:2px dotted #ccc ;
}
.conteudo-lateral div:last-child {
  /* seletor para tirar a borda do ultimo div dotado da classe "postagem-lateral" */
  border: none;
}
#rodape {
  clear: both;
  text-align: center;
  padding: 15px;
  background-color: #ccc;
}

/* FORMATAÇÃO MENU - INICIO */
a {
  text-decoration: none;
  font-weight: 800;
}
a:link, a:visited {
  color: #f7b600;
}
a:hover {
  text-decoration: underline;
}
#area-cabecalho a:link, #area-cabecalho a:visited {
  color: #FFF;
  padding: 8px 12px;
}
#area-cabecalho a:hover {
  color: #f7b600;
  background-color: #FFF;
  text-decoration: none;
}
/* FORMATAÇÃO MENU - FIM */


/* LAYOUT - FIM */

/* FORMATAÇÕES EM GERAL - INICIO*/
h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}
h2 {
  color: #f7b600;
}
h3 {
  background-color: #ccc;
  padding: 5px;
  color: #565656;
}
.branco {
  color: white;
}
.data-postagem {
  display: block;
  font-size: 0.8em;
  border-bottom: solid 1px #f4f4f4;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* FORMATAÇÕES EM GERAL - FIM*/