.conteudo {
  border: 1px solid red;
  font-size: 30px;
  padding: 20px;
  margin: 20px;
  /*lembrar q as margens se sobrepõem! */
  width: 200px;
  /* OBSERVE! o tamanho final da caixa é width + paddings horizontais!! */
}

#noticia {
  padding: 10px;
  background-color: #f9f9f9;
  border: 2px solid gray;
}

h2 {
  margin: 0;
  border: 2px solid salmon;
}